.container {
  display: flex;
  flex-direction: column;
  /* TODO: css variable for stle */
  background-color: #efefef;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 300px;
}
