.payment {
  display: flex;
  padding: 1em;
  background-color: #fff;
  border-radius: 0.25em;
  box-shadow: 0px 12px 12px -13px rgba(0, 0, 0, 0.15);

  .details {
    flex-grow: 1;

    .date {
      padding-bottom: 0.5em;
    }
    .sequence {
      color: rgb(177, 177, 177);
      font-size: 0.75em;
    }
  }
  .amount {
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 600;
    font-size: 0.9em;
  }
}
