<div class="container">
  <div class="holder">
    <div class="controls">
      <div class="input-indicator">$</div>
      <input
        class="total"
        type="number"
        min="1"
        step="any"
        placeholder="Total"
      />
    </div>
    <div class="calculator">
      <div class="payment">
        <div class="details">
          <div class="date">Jan 24, 2020</div>
          <div class="sequence">First payment</div>
        </div>
        <div class="amount">$23.50</div>
      </div>
      <div class="payment">
        <div class="details">
          <div class="date">Feb 7, 2020</div>
          <div class="sequence">Second payment</div>
        </div>
        <div class="amount">$23.50</div>
      </div>
    </div>
  </div>
</div>
