<div class="container">
  <div class="holder">
    <div class="controls">
      <div class="currency-indicator">$</div>
      <!--TODO: Reactive forms on this for validation of 2 decimals-->
      <input
        #total
        (keyup.enter)="submitTotal(+total.value)"
        class="total"
        type="number"
        min="1"
        step="any"
        placeholder="Total"
      />
    </div>
    <div *ngIf="true" class="calculator">
      <div *ngFor="let payment of [0, 1, 2, 3]" class="payment">
        <div class="details">
          <div class="date">Jan 24, 2020</div>
          <div class="sequence">First payment</div>
        </div>
        <div class="amount">$23.50</div>
      </div>
    </div>
  </div>
</div>
