<div class="container">
  <div class="holder">
    <div class="controls">
      <div class="currency-indicator">$</div>
      <!--TODO: Reactive forms on this for validation of 2 decimals-->
      <input
        #total
        (keyup.enter)="submitTotal(+total.value)"
        class="total"
        type="number"
        min="1"
        step="any"
        placeholder="Total"
      />
    </div>
    <div class="calculator">
      <ng-container *ngIf="payments.length > 0; else placeholder">
        <app-payment
          *ngFor="let payment of payments"
          [title]="payment.title"
          [subtitle]="payment.subtitle"
          [amount]="payment.amount"
        ></app-payment>
      </ng-container>

      <ng-template #placeholder>
        <div class="placeholder"></div>
      </ng-template>
    </div>
  </div>
</div>
