.details {
  flex-grow: 1;
}

.title {
  padding-bottom: 0.5em;
  color: var(--payment-card-text);
}

.subtitle {
  color: var(--payment-card-subtitle);
  font-size: 0.75em;
}

.amount {
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 600;
  font-size: 0.9em;
  color: var(--payment-card-text);
}
